.App {
	text-align: center;
	background-color: #282c34;
}

/* header */
header {
	position: sticky;
	top: 0;
	background-color: #282c34;
}

header div {
	display: flex;
	justify-content: center;
}

header button {
	flex-basis: 10%;
	background-color: #282c34;
	padding: 5px;
	margin: 15px auto;
	border-radius: 5px;
	border: none;
	font-size: larger;
	color: white;
	cursor: pointer;
}

header button:hover {
	background-color: #3b3d42;
}

header button a {
	color: white;
	text-decoration: none;
}

/* main */
main {
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
	margin: 0 2px;
}

.atlLeft {
	flex-basis: 70%;
	margin: 20px;
	text-align: left;
}

.atlLeft a {
	color: black;
	text-decoration: none;
}

.newsItem {
	display: flex;
	margin: 30px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #888888;
}

.newsImg {
	max-height: 13rem;
	max-width: 13rem;
}

.newsItem-info {
	margin-left: 20px;
	text-align: left;
}

.atlRight {
	flex-basis: 30%;
	margin: 20px;
}

.sidebar {
	position: sticky;
	top: 14rem;
	border: 0.5px solid #888888;
	border-radius: 5px;
	padding-bottom: 20px;
}

.searchForm {
	display: flex;
	flex-direction: column;
	margin: auto 20%;
}

.searchForm input {
	margin-bottom: 5px;
}

.searchForm input, .searchForm button {
	height: 2rem;
}

.atlLeft h5 > a {
	color: blue;
}

/* footer */
footer {
	display: flex;
}

.footLeft, .footRight {
	flex-basis: 50%;
	margin: auto 5px;
	color: white;
}

.footLeft img {
	margin-bottom: 0;
	width: 50%;
}

.footRight img {
	margin-bottom: 0;
	width: 14%;
}

.footLeft p, .footRight p {
	margin-top: 0;
}

footer a {
	color: aquamarine;
}